.tender {
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border: 2px solid #d3d7db;
  border-radius: 5px;
  font-size: 13px;
  color: #b4b4b4;
  padding: 20px 15px;
}
.tender__column {
  padding: 10px;
}
.tender__column--left {
  width: 35%;
}
.tender__column--left b {
  color: #41484e;
}
.tender__column--center {
  color: #41484e;
}
.tender__column--right {
  width: 35%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tender__btn {
  text-decoration: none;
}
.tender__price {
  color: #41484e;
  font-size: 22px;
  font-weight: bold;
}
.tender__number {
  font-weight: bold;
  font-size: 16px;
}
.tender__title {
  font-size: 20px;
}
.tender__orderer {
  color: #b4b4b4;
}
.tender__btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #06abdd;
  border-radius: 5px;
  text-align: center;
}
.tender__btn:hover {
  background: #07bef6;
}
.tender__btn:active {
  background: #0598c4;
}
